<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Greatest Hits!</title>
</head>
<body>
<th:block th:each="currentChart, stat:${chart}">
    <div th:id="'div'+${stat.index+1}" style="display: none;">
        <h1 th:inline="text">Week [[${currentChart.week}]]</h1>
        <h3 th:inline="text">Released on: [[${currentChart.getDateFormatted()}]]</h3>
        <table>
            <tr>
                <th>#</th>
                <th>Artist Name</th>
                <th>Song Name</th>
                <th>±</th>
                <th>Points</th>
                <th>Peak</th>
                <th>Weeks</th>
            </tr>
            <tr th:each="entry:${currentChart.chartEntries}">
                <td th:text="${entry.position}">0</td>
                <td th:text="${entry.artistName}">N/A</td>
                <td th:text="${entry.songName}">N/A</td>
                <td th:text="${entry.insideParam}">=</td>
                <td th:text="${entry.points}">0</td>
                <td th:text="${entry.peak}">0</td>
                <td th:text="${entry.weeks}">0</td>
            </tr>
        </table>
    </div>
</th:block>
<button id="previousButton" type="button"><-</button>
<button id="nextButton" type="button">-></button>
<script src="script.js"></script>
</body>
</html>